@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow: hidden;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: 100%;
  font-family: "Nunito";
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 120vh;
  background-color: rgba(142, 178, 189, 0.5333333333);
}

.input_zone {
  position: absolute;
  z-index: 3;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
}
.input_zone.onfocus {
  bottom: 5vh;
}

button {
  width: 50vw;
  height: 5rem;
  font-size: 1.7rem;
  text-transform: lowercase;
  color: black;
}

.camera {
  background-color: #9aabf7;
  box-shadow: 0px 0px 2px grey;
  width: 100vw;
  max-width: 550px;
  transition-duration: 0.1s;
}
.camera.onfocus {
  opacity: 0;
  pointer-events: none;
}

.clear_search_cont {
  display: flex;
  box-shadow: 0px 0px 2px grey;
}

.search {
  background-color: #4ff1a0;
  max-width: 275px;
}
.search:active {
  background-color: #44c987;
}

.clear {
  background-color: #e95b6e;
  max-width: 275px;
}
.clear:active {
  background-color: rgba(177, 47, 65, 0.8274509804);
}

input {
  position: relative;
  z-index: 2;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  text-align: center;
  width: 100vw;
  min-width: 300px;
  max-width: 550px;
  height: 5rem;
  font-size: 2.4rem;
  color: #2e2f36;
  box-shadow: 0px 1px 5px grey;
  background-color: white;
  letter-spacing: 4px;
  margin: 2vh 0;
}

.cont_size {
  position: absolute;
  height: 45vh;
  width: 160vw;
  min-width: 260px;
  max-width: 550px;
}

.stream_cont {
  overflow: hidden;
  top: 5vh;
  box-shadow: 0px 1px 7px grey;
}
.stream_cont.onfocus {
  transition-duration: 0.1s;
  opacity: 0;
}

.camera_zone {
  overflow: hidden;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition-duration: 0.4s;
}
.camera_zone.camera_on {
  transition-duration: 0.3s;
  opacity: 1;
}

video {
  z-index: 0;
  background: url("../img/loading.png") 51.5% center/12vh no-repeat;
}

.scan_icon {
  z-index: 2;
  background: url("../img/scan_icon_big.png") center center/cover no-repeat;
}

@media (max-height: 590px) {
  .cont_size {
    top: 2vh;
    height: 43vh;
  }
}
@media (max-height: 540px) {
  .cont_size {
    top: 2vh;
    height: 40vh;
  }
}