@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.cont {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}

body {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  max-width: 100vw;
  height: 100vh;
  font-family: "Nunito";
  background-color: black;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
}
button:active, a:active, i:active {
  transition: 0s;
  transition-duration: 0s;
  opacity: 0.4;
}

button {
  height: 4.4rem;
  width: 50%;
  font-size: 1.4rem;
  color: #18191d;
  border-radius: 25px;
}

input {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  text-align: center;
  color: #2e2f36;
  background-color: white;
  border-radius: 25px;
  width: 100%;
}

#main_container {
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
  max-width: 500px;
  min-width: 300px;
  padding: 0 10px;
  background: radial-gradient(circle, #bad3db 60%, #88b7c7 100%);
  border-radius: 30px;
}

.container {
  display: none;
  position: fixed;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.container.toggle {
  display: flex;
}

.content {
  width: 80%;
  max-width: 350px;
  min-width: 310px;
  height: 100%;
  opacity: 0.7;
  transition: 0.2s ease-out;
}
.content.toggle {
  opacity: 1;
}

#install_notif {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  width: 90%;
  height: 30%;
  opacity: 0;
  pointer-events: 0;
}
#install_notif.active {
  opacity: 1;
  pointer-events: 0;
}

.nav_but {
  position: absolute;
  z-index: 6;
  margin: 0 8%;
  color: rgba(26, 26, 26, 0.6156862745);
  font-size: 2.6rem;
  cursor: pointer;
  transition-duration: 0.2s;
  height: 4rem;
  width: 4rem;
}

#foot_cont {
  z-index: 5;
  position: absolute;
  bottom: 2.3rem;
  width: 100%;
  min-width: 360px;
  padding-top: 1rem;
  flex-direction: row;
  justify-content: center;
  overflow: visible;
}
#foot_cont.turn_off {
  display: none;
}
#foot_cont .help_eye {
  left: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#foot_cont #help_but.toggle {
  display: none;
}
#foot_cont #big_eye_but {
  display: none;
}
#foot_cont #big_eye_but.toggle {
  display: flex;
}
#foot_cont .menue_but {
  right: 0.5rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
#foot_cont #menue_but.toggle {
  display: flex;
}
#foot_cont #back_but {
  display: flex;
  transition-duration: 0.3s;
  opacity: 0.5;
  pointer-events: none;
}
#foot_cont #back_but.toggle {
  display: none;
}
#foot_cont #back_but.active {
  opacity: 1;
  pointer-events: auto;
}
#foot_cont #session_cont {
  flex-direction: row;
  overflow: visible;
  font-size: 1.1rem;
  width: 90%;
  color: rgba(39, 43, 61, 0.7607843137);
}
#foot_cont #session_cont #session_but {
  display: inline;
  z-index: 8;
  min-width: 40%;
  max-width: 60%;
  text-align: center;
  padding: 10px;
  border-radius: 25px;
  border: 1px solid rgba(226, 3, 3, 0.8352941176);
  color: rgba(226, 3, 3, 0.8352941176);
  cursor: pointer;
  white-space: nowrap;
  transition-duration: 0.2s;
}
#foot_cont #session_cont #session_but.active {
  transition-duration: 0.2s;
  border: 1px solid #009b08;
  color: #009b08;
}
#foot_cont #session_cont #session_but.no_active {
  border: 1px solid rgba(26, 26, 26, 0.4392156863);
  color: rgba(26, 26, 26, 0.4392156863);
  pointer-events: none;
}
#foot_cont #session_cont #session_nav_cont {
  flex-shrink: 1;
  position: absolute;
  bottom: -0.8rem;
  width: 90%;
  padding-bottom: 3.9rem;
  justify-content: flex-end;
  transition-duration: 0.2s;
  box-shadow: 0 -5px 15px rgba(165, 164, 164, 0.231372549);
  display: none;
  border-radius: 40px;
  z-index: 7;
}
#foot_cont #session_cont #session_nav_cont.toggle {
  display: flex;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content.toggle {
  transition: 0.3s ease-out;
  opacity: 1;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #session_power_but {
  width: 8rem;
  height: 4.5rem;
  margin-top: 1.6rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  border-radius: 25px;
  text-align: center;
  background-color: rgba(34, 197, 61, 0.6156862745);
  color: rgba(246, 249, 253, 0.9176470588);
  transition-duration: 0.4s;
  cursor: pointer;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #session_power_but span {
  display: inline-block;
  transition-duration: 0.2s;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #session_power_but.active {
  background-color: rgba(218, 20, 79, 0.6156862745);
  color: rgba(246, 249, 253, 0.9176470588);
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #session_power_but.active span {
  transform: rotate(45deg);
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #session_text {
  font-size: 1.1rem;
  text-align: center;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #store_name_lit {
  font-size: 1.4rem;
  margin-top: 0.6rem;
  transition-duration: 0.4s;
  height: 0;
  opacity: 0;
}
#foot_cont #session_cont #session_nav_cont #session_nav_content #store_name_lit.active {
  height: 2rem;
  opacity: 0.8;
}
#foot_cont #session_cont #session_nav_cont #session_blur {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #bdd9e2;
  z-index: -1;
  border-radius: 40px;
}

#ur_session_num_cont {
  z-index: 8;
  padding: 1.4rem;
  color: rgba(26, 26, 26, 0.7254901961);
  text-align: center;
  flex-shrink: 1;
  transition: 0.2s ease-out;
  bottom: auto;
}
#ur_session_num_cont #session_num_content #sess_info_cont {
  overflow: visible;
}
#ur_session_num_cont #session_num_content #sess_info_cont span {
  font-size: 1.7rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont span:first-child {
  margin-bottom: 1.5rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont span:first-child i {
  font-size: 2.5rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont #num_cont {
  margin: 1.5rem 0 2.2rem 0;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  color: rgba(7, 101, 124, 0.6509803922);
}
#ur_session_num_cont #session_num_content #sess_info_cont #num_cont p {
  font-size: 2.7rem;
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont #num_cont #session_num {
  font-size: 4.8rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont p {
  font-size: 1.7rem;
  margin-bottom: 1.2rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont #store_name {
  font-size: 1.9rem;
}
#ur_session_num_cont #session_num_content #sess_info_cont #store_name::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.3rem;
  width: 7rem;
  height: 2px;
  background-color: rgba(0, 28, 122, 0.0941176471);
  border-radius: 25px;
}
#ur_session_num_cont #session_num_content #ok_but {
  margin-top: 2.5rem;
  background-color: rgba(54, 230, 19, 0.3137254902);
  font-size: 1.3rem;
  width: 80%;
  height: 5.2rem;
}

#are_u_sure_cont {
  z-index: 9;
}
#are_u_sure_cont #are_u_sure_content {
  overflow: visible;
  max-width: 420px;
  padding: 1.2rem 20px;
  margin-bottom: -1rem;
}
#are_u_sure_cont #are_u_sure_content #icons_cont {
  justify-content: space-between;
  width: 260px;
  overflow: visible;
  flex-direction: row;
}
#are_u_sure_cont #are_u_sure_content #icons_cont i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
}
#are_u_sure_cont #are_u_sure_content #icons_cont i.fa-cloud {
  font-size: 6rem;
  color: rgba(112, 183, 196, 0.7450980392);
}
#are_u_sure_cont #are_u_sure_content #icons_cont i.fa-angles-right {
  font-size: 2.5rem;
  color: rgba(64, 111, 155, 0.4039215686);
}
#are_u_sure_cont #are_u_sure_content #icons_cont i.fa-mobile-screen-button {
  font-size: 6rem;
  color: rgba(0, 11, 71, 0.6235294118);
}
#are_u_sure_cont #are_u_sure_content #are_u_sure_text {
  position: relative;
  margin-top: 4rem;
  width: 280px;
  text-align: center;
  font-size: 1.7rem;
  line-height: 2.3rem;
  color: rgba(26, 26, 26, 0.7254901961);
}
#are_u_sure_cont #are_u_sure_content #are_u_sure_text::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.2rem;
  width: 8rem;
  height: 2px;
  background-color: rgba(0, 28, 122, 0.0941176471);
  border-radius: 25px;
}
#are_u_sure_cont #are_u_sure_content #questions_cont {
  flex-direction: row;
  width: 100%;
  margin-top: 2.6rem;
}
#are_u_sure_cont #are_u_sure_content #questions_cont button {
  width: 10rem;
  height: 5.2rem;
}
#are_u_sure_cont #are_u_sure_content #questions_cont #no_but {
  margin-right: 5px;
  background-color: #e95b6e;
}
#are_u_sure_cont #are_u_sure_content #questions_cont #yes_but {
  margin-left: 5px;
  background-color: #4ff1a0;
}

.inv {
  background-color: rgba(251, 255, 0, 0.3294117647);
}
.inv span {
  color: rgba(174, 177, 1, 0.4666666667);
}

.new {
  background-color: rgba(0, 243, 12, 0.2549019608);
}
.new span {
  color: rgba(3, 126, 9, 0.3490196078);
}

.take {
  background-color: rgba(30, 62, 202, 0.2862745098);
}
.take span {
  color: rgba(26, 52, 167, 0.3882352941);
}

.nocash {
  background-color: rgba(129, 0, 204, 0.2745098039);
}
.nocash span {
  color: rgba(102, 10, 155, 0.3647058824);
}

.scan {
  background-color: rgba(245, 0, 143, 0.2823529412);
}
.scan span {
  color: rgba(155, 3, 91, 0.368627451);
}

.chose_list {
  margin-top: 3rem;
}
.chose_list li {
  position: relative;
  width: 100%;
  border-radius: 25px;
}
.chose_list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}

.cancel_but {
  margin-top: 4vh;
  cursor: pointer;
  border-radius: 50%;
  color: rgba(245, 89, 110, 0.9333333333);
  font-size: 3.6rem;
  width: 8rem;
  height: 4rem;
}

#doc_types_cont {
  z-index: 9;
}
#doc_types_cont #doc_types_content {
  max-width: 330px;
  min-width: auto;
}
#doc_types_cont #doc_types_content li {
  margin-top: 0.4rem;
  min-height: 4.9rem;
  font-size: 1.4rem;
  white-space: nowrap;
}
#doc_types_cont #doc_types_content li a {
  padding: 15px 30px;
}
#doc_types_cont #doc_types_content li span {
  pointer-events: none;
  margin-right: 25px;
  color: rgba(24, 25, 29, 0.5882352941);
}
#doc_types_cont #doc_types_content li p {
  pointer-events: none;
  text-align: start;
  width: 100%;
  color: #18191d;
}

#store_address_cont {
  z-index: 8;
}
#store_address_cont #store_address_content {
  margin-top: -1rem;
}
#store_address_cont #store_address_content p {
  margin-bottom: 1.5vh;
  color: rgba(26, 26, 26, 0.662745098);
  font-size: 2.5rem;
}
#store_address_cont #store_address_content h2 {
  margin-bottom: 2vh;
  font-size: 1.7rem;
  text-align: center;
}
#store_address_cont #store_address_content div {
  flex-direction: row;
  width: 100%;
}
#store_address_cont #store_address_content div span {
  width: 48%;
  margin: 0 3px;
}
#store_address_cont #store_address_content div span li {
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: rgba(115, 145, 209, 0.5019607843);
}
#store_address_cont #store_address_content div span li a {
  height: 5.5rem;
  padding: 10px 10px;
  color: #18191d;
}

.swap_but:active {
  transition: 0s;
  transition-duration: 0s;
  opacity: 0.9;
}
.swap_but.toggle span:first-child {
  top: -5rem;
}
.swap_but.toggle span:last-child {
  bottom: 0;
}
.swap_but span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  transition: 0.32s ease-out;
}
.swap_but span i {
  pointer-events: none;
}
.swap_but span:first-child {
  top: 0;
}
.swap_but span:last-child {
  bottom: -5rem;
}

#items_cont {
  z-index: 8;
}
#items_cont #items_content {
  overflow: visible;
  width: 95%;
  max-width: 400px;
  padding-top: 0.8rem;
  justify-content: flex-start;
}
#items_cont #items_content #item_search_cont {
  position: relative;
  flex-direction: row;
  width: 93%;
  height: 4.7rem;
  padding: 0 0.7rem;
  background-color: rgba(2, 49, 70, 0.1764705882);
  border-radius: 25px;
  z-index: 8;
  box-shadow: 0 5px 15px rgba(165, 164, 164, 0.231372549);
  transition: 0.1s ease-out;
}
#items_cont #items_content #item_search_cont.open_item {
  opacity: 0;
  pointer-events: none;
}
#items_cont #items_content #item_search_cont #item_search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  border-radius: 25px;
  padding: 0 10px;
  width: 100%;
  height: 70%;
  color: rgba(34, 34, 34, 0.6862745098);
  margin: 0 0.5rem;
  background-color: #e9f4f8;
}
#items_cont #items_content #item_search_cont #item_search_input.not_place_hold {
  font-size: 1.6rem;
  letter-spacing: 3px;
}
#items_cont #items_content #item_search_cont #search_type_icon {
  color: rgba(26, 26, 26, 0.5960784314);
  width: 2rem;
  height: 4rem;
}
#items_cont #items_content #items_list_cont {
  margin-top: 0.8rem;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 0.337254902);
  border-radius: 25px;
  margin-bottom: -1.7rem;
  transition: 0.1s ease-out;
}
#items_cont #items_content #items_list_cont.keybrd_close {
  margin-bottom: -25vh;
}
#items_cont #items_content #items_list_cont.open_item {
  opacity: 0;
  pointer-events: none;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  padding: 17px 20px;
  height: 7.5rem;
  border-radius: 25px;
  background-color: #b19cc2;
  box-shadow: 0 5px 15px rgba(165, 164, 164, 0.1647058824);
  transition-duration: 0.4s;
  flex-direction: row;
  justify-content: space-between;
  color: rgba(34, 34, 34, 0.9254901961);
  font-size: 1rem;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont.turn_off {
  opacity: 0;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont i {
  pointer-events: none;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont div {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  white-space: nowrap;
  overflow: visible;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info {
  padding-right: 2vw;
  font-size: 1rem;
  justify-content: space-between;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info div {
  justify-content: flex-start;
  flex-direction: row;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info div:first-child {
  margin-bottom: 4px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info h3 {
  margin-left: 2px;
  color: rgba(34, 34, 34, 0.7607843137);
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info p {
  margin-left: 10px;
  margin-right: 5px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info span {
  font-size: 1.2rem;
  color: #222222;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info h4 {
  font-size: 1.2rem;
  color: #222222;
  margin-left: 2px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info #doc_name {
  align-items: flex-start;
  color: #222222;
  font-size: 1.6em;
  margin-bottom: 7px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info #doc_name::after {
  content: "";
  position: absolute;
  left: 0.4rem;
  bottom: 0.15rem;
  width: 6rem;
  height: 1px;
  background-color: rgba(29, 24, 26, 0.2941176471);
  border-radius: 25px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_left_info #sum_quantity_cont {
  flex-direction: column;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_right_info {
  font-size: 0.9rem;
  padding-left: 0.5vw;
  justify-content: flex-end;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_right_info div {
  height: auto;
  align-items: flex-end;
  justify-content: flex-end;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_right_info div:first-child {
  margin-bottom: 9px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_right_info h3 {
  position: absolute;
  right: 3.5rem;
  top: -0.15rem;
  margin-right: 0.2rem;
  color: rgba(34, 34, 34, 0.7607843137);
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_right_info p {
  margin-bottom: 2px;
}
#items_cont #items_content #items_list_cont #doc_full_info_cont #doc_right_info span {
  color: #222222;
}
#items_cont #items_content #items_list_cont #items_not_found {
  width: 100%;
  position: absolute;
  font-size: 1.7rem;
  text-align: center;
  color: rgba(37, 55, 82, 0.5960784314);
  margin-top: 20%;
  pointer-events: none;
  overflow: visible;
  display: none;
}
#items_cont #items_content #items_list_cont #items_not_found.turn_on {
  display: flex;
}
#items_cont #items_content #items_list_cont #items_not_found span {
  overflow: visible;
  margin-top: 0.8rem;
  font-size: 2.5rem;
  width: 7rem;
  height: 7rem;
  background-color: rgba(113, 172, 190, 0.1294117647);
  border-radius: 50%;
}
#items_cont #items_content #items_list_cont #items_not_found span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 6rem;
  height: 2px;
  background-color: rgba(37, 55, 82, 0.1725490196);
  border-radius: 25px;
}
#items_cont #items_content #items_list_cont #items_list_cont_content {
  flex-shrink: 1;
  width: 100%;
  padding-left: 8px;
  height: 100%;
  overflow-y: auto;
  justify-content: flex-start;
  scroll-behavior: smooth;
  -ms-scroll-chaining: none;
      overscroll-behavior: contain;
  transition-duration: 0.4s;
}
#items_cont #items_content #items_list_cont #items_list_cont_content::-webkit-scrollbar {
  width: 8px;
}
#items_cont #items_content #items_list_cont #items_list_cont_content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 49, 141, 0.1098039216);
  border-radius: 25px;
}
#items_cont #items_content #items_list_cont #items_list_cont_content.reverse {
  flex-direction: column-reverse;
}
#items_cont #items_content #items_list_cont #items_list_cont_content.reverse li:first-child {
  margin-top: 0.5rem;
  margin-bottom: 3.2rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content.reverse li:first-child::after {
  top: auto;
  bottom: -1rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content.reverse li:last-child {
  margin-top: 8rem;
  margin-bottom: 0;
}
#items_cont #items_content #items_list_cont #items_list_cont_content.reverse li:last-child::after {
  top: -1rem;
  bottom: auto;
}
#items_cont #items_content #items_list_cont #items_list_cont_content i {
  pointer-events: none;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 97%;
  height: 3.7rem;
  margin-top: 0.5rem;
  background-color: rgba(0, 49, 141, 0.1647058824);
  border-radius: 25px;
  transition: 0.15s ease-out;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li span, #items_cont #items_content #items_list_cont #items_list_cont_content li p, #items_cont #items_content #items_list_cont #items_list_cont_content li a, #items_cont #items_content #items_list_cont #items_list_cont_content li div {
  pointer-events: none;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-right: 0;
  align-items: flex-start;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont div {
  flex-direction: row;
  width: 100%;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #items_name {
  transition: 0.1s ease-out;
  white-space: nowrap;
  font-size: 1.15rem;
  width: 100%;
  height: 100%;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont {
  margin-top: 0.3rem;
  color: rgba(34, 34, 34, 0.6862745098);
  justify-content: space-between;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont div {
  width: auto;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont div span.icon {
  color: rgba(34, 34, 34, 0.5803921569);
  margin-right: 1.2vw;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont div span.icon i {
  font-size: 0.9rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont div #items_barcode {
  font-size: 1rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont div #items_price {
  font-size: 1.2rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #left_side_cont #barcode_price_cont div p {
  font-size: 1.2rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li #items_quantity {
  height: 100%;
  width: 5.5rem;
  padding: 10px;
  margin-left: 3px;
  font-size: 1.2rem;
  border-radius: 25px;
  cursor: pointer;
  color: rgba(29, 24, 26, 0.6431372549);
  background-color: rgba(124, 124, 124, 0.1176470588);
}
#items_cont #items_content #items_list_cont #items_list_cont_content li:first-child {
  margin-top: 8rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li:first-child::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -1rem;
  width: 7rem;
  height: 2px;
  background-color: rgba(0, 49, 141, 0.1176470588);
  border-radius: 25px;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li:last-child {
  margin-bottom: 3.2rem;
}
#items_cont #items_content #items_list_cont #items_list_cont_content li:last-child::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 7rem;
  height: 2px;
  background-color: rgba(0, 49, 141, 0.1176470588);
  border-radius: 25px;
}
@media (max-width: 400px) {
  #items_cont #items_content #items_list_cont #items_list_cont_content #items_barcode_icon {
    display: none;
  }
}
#items_cont #items_content #items_flight_buts_cont {
  position: absolute;
  bottom: 2vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  border-radius: 30px;
}
#items_cont #items_content #items_flight_buts_cont button {
  margin: 0 1vw;
  height: 4rem;
  width: 5.5rem;
  border-radius: 30px;
  overflow: hidden;
  color: rgba(46, 54, 73, 0.9058823529);
  background-color: rgba(52, 184, 0, 0.2588235294);
  background: none;
}
#items_cont #items_content #items_flight_buts_cont button i {
  font-size: 1.7rem;
}
#items_cont #items_content #items_flight_buts_cont #close_item_cont_but_2 {
  border: none;
  width: 7rem;
  background-color: rgba(235, 123, 138, 0.9176470588);
}
#items_cont #items_content #item_edit_cont {
  z-index: 3;
  width: 90vw;
  height: 50vh;
  background-color: rgba(0, 49, 141, 0.1450980392);
  box-shadow: 0 0 15px rgba(77, 77, 77, 0.1921568627);
  padding: 25px 15px;
  border-radius: 30px;
  margin-bottom: 2rem;
  margin-top: -4.7rem;
  transition: 0.1s ease-out;
  color: rgba(34, 34, 34, 0.8352941176);
  display: none;
}
#items_cont #items_content #item_edit_cont.open_item {
  display: flex;
}
#items_cont #items_content #item_edit_cont #item_edit_name {
  text-align: center;
  white-space: pre-wrap;
  overflow: hidden;
  font-size: 1.4rem;
  line-height: 1.5rem;
  height: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3882352941);
  padding: 15px;
  border-radius: 25px;
}
#items_cont #items_content #item_edit_cont #barcode_price_edit_cont {
  width: 90%;
  margin-top: 1rem;
  align-items: flex-start;
  font-size: 1.3rem;
}
#items_cont #items_content #item_edit_cont #barcode_price_edit_cont div {
  margin-bottom: 0.8rem;
  flex-direction: row;
}
#items_cont #items_content #item_edit_cont #barcode_price_edit_cont div span.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1843137255);
  margin-right: 3vw;
}
#items_cont #items_content #item_edit_cont #barcode_price_edit_cont div span.icon i {
  font-size: 1.2rem;
}
#items_cont #items_content #item_edit_cont #items_edit_quantity {
  margin-top: 0.2rem;
  border-radius: 30px;
  height: 4rem;
  width: 70%;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.8274509804);
}
#items_cont #items_content #item_edit_cont::after {
  display: none;
}
#items_cont #items_content #item_edit_cont::before {
  display: none;
}
#items_cont #items_content #items_keybrd_cont {
  z-index: 1;
  bottom: 0;
  border-radius: 30px;
  width: 100vw;
  max-width: 500px;
  height: 38vh;
  min-height: 17rem;
  max-height: 25rem;
  background-color: #e1e8ec;
  box-shadow: 0 -5px 15px rgba(77, 77, 77, 0.0549019608);
  transition-duration: 0.15s;
  opacity: 1;
  pointer-events: auto;
}
#items_cont #items_content #items_keybrd_cont.toggle {
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}
#items_cont #items_content #items_keybrd_cont div {
  width: 100%;
  height: 100%;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up {
  padding-top: 5px;
  padding-right: 3px;
  flex-shrink: 1;
  flex-direction: row;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up button {
  height: 24%;
  margin: 1px;
  font-size: 1.8rem;
  transition-duration: 0.05s;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left {
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left button {
  position: relative;
  width: 32%;
  color: rgba(34, 34, 34, 0.9058823529);
  border-radius: 0;
  background: none;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left button:active {
  opacity: 1;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left button p {
  transition: 0.7s;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left button.click p {
  transition: 0s;
  opacity: 1;
  background-color: rgba(142, 160, 168, 0.7058823529);
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left button p {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8274509804);
  border-radius: 30px;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left button.dop_buts p {
  color: rgba(46, 54, 73, 0.9058823529);
  background-color: rgba(164, 182, 190, 0.3137254902);
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_left #point_but.click p {
  opacity: 1;
  background-color: rgba(142, 160, 168, 0.7058823529);
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right {
  overflow: visible;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: flex-end;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right button {
  height: 24.3%;
  width: 100%;
  border-radius: 30px;
  background-color: rgba(164, 182, 190, 0.3294117647);
  color: rgba(46, 54, 73, 0.9058823529);
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right button i {
  pointer-events: none;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right #del_item_input_but {
  background-color: #a4b6be;
  transition: 0.1s ease-out;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right #del_item_input_but.hold {
  color: rgba(75, 1, 11, 0.9176470588);
  font-size: 2.2rem;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right #del_item_input_but:active {
  transition: 0s;
  transition-duration: 0s;
  opacity: 1;
  background-color: #88969c;
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right #keybrd_search_but {
  height: 36.45%;
  background-color: rgba(6, 179, 35, 0.3019607843);
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right #keybrd_search_but:active {
  transition: 0s;
  transition-duration: 0s;
  opacity: 1;
  background-color: rgba(9, 82, 24, 0.6039215686);
}
#items_cont #items_content #items_keybrd_cont #items_keybrd_cont_up #items_keybrd_cont_right #close_item_cont_but {
  height: 36.45%;
  background-color: rgba(235, 123, 138, 0.9176470588);
}
#items_cont #items_content #items_keybrd_cont #close_keybrd_but {
  height: 5vh;
  font-size: 1.5rem;
  width: 100%;
  background: none;
  color: rgba(34, 34, 34, 0.6039215686);
}

header {
  display: flex;
  width: 100%;
  height: 100%;
}
header.turn_off {
  display: none;
}
header #menue_content {
  padding-top: 1.8rem;
  padding-bottom: 4.5rem;
  height: 100%;
  width: 90%;
  max-width: 500px;
  transition: 0.2s ease-out;
  opacity: 1;
}
header #menue_content.toggle {
  opacity: 0.6;
}
header #menue_content #menue_head_cont {
  z-index: 7;
  flex-direction: row;
  width: 100%;
}
header #menue_content #menue_head_cont.toggle {
  display: none;
}
header #menue_content #menue_head_cont span {
  position: relative;
  z-index: 8;
  margin: 0 3%;
  border-radius: 50%;
  opacity: 1;
}
header #menue_content #menue_head_cont #reload_but {
  width: 3.8rem;
  height: 3.8rem;
  background-color: rgba(255, 255, 255, 0.2745098039);
  border-radius: 50%;
  transition-duration: 0.3s;
}
header #menue_content #menue_head_cont #reload_but.light {
  background-color: rgba(34, 197, 61, 0.6156862745);
}
header #menue_content #menue_head_cont #reload_but.light p {
  color: rgba(246, 249, 253, 0.7725490196);
}
header #menue_content #menue_head_cont #reload_but:active {
  opacity: 0.4;
}
header #menue_content #menue_head_cont #reload_but p {
  pointer-events: none;
  position: absolute;
  color: rgba(26, 26, 26, 0.5960784314);
  font-size: 2rem;
  transition-duration: 0.4s;
}
header #menue_content #menue_main_cont {
  width: 100%;
  height: 100%;
  flex-shrink: 1;
}
header #menue_content #menue_main_cont #docs_cont {
  width: 100%;
  min-height: 13rem;
  max-height: 55%;
  border-radius: 25px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2745098039);
  transition-duration: 0.25s;
}
header #menue_content #menue_main_cont #docs_cont.download_height {
  transition-duration: 0.45s;
  min-height: 13rem;
  max-height: 13rem;
  justify-content: center;
  height: 13rem;
}
header #menue_content #menue_main_cont #docs_cont #check {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 25px;
  pointer-events: none;
  transition-duration: 0.8s;
  opacity: 0;
}
header #menue_content #menue_main_cont #docs_cont #check.active {
  transition-duration: 0.6s;
  opacity: 1;
}
header #menue_content #menue_main_cont #docs_cont #check i {
  position: relative;
  font-size: 4rem;
  color: rgba(23, 194, 0, 0.5254901961);
}
header #menue_content #menue_main_cont #docs_cont #check i::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1.4rem;
  width: 6rem;
  height: 2px;
  background-color: rgba(29, 24, 26, 0.1764705882);
  border-radius: 25px;
}
header #menue_content #menue_main_cont #docs_cont #check span {
  margin-top: 2.2rem;
  font-size: 1.4rem;
  color: #18191d;
  line-height: 1.4rem;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content {
  justify-content: center;
  align-items: flex-end;
  overflow: auto;
  height: 100%;
  width: 100%;
  padding: 3%;
  scroll-behavior: smooth;
  transition-duration: 0.8s;
  border-radius: 25px;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content.check_blur {
  filter: blur(50px);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content::-webkit-scrollbar {
  width: 0;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_info {
  position: absolute;
  top: 0.5rem;
  overflow: visible;
  width: 94%;
  font-size: 1rem;
  color: rgba(26, 26, 26, 0.568627451);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_info #swipe_icon {
  display: none;
  opacity: 0;
  position: absolute;
  left: 1.8rem;
  color: rgba(26, 26, 26, 0.3568627451);
  font-size: 0.8rem;
  transition-duration: 0.2s;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_info #swipe_icon i:first-child {
  transform: rotate(45deg);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_info #swipe_icon i:last-child {
  margin-left: 0.3rem;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_info #swipe_icon.toggle {
  opacity: 1;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_not_found {
  position: absolute;
  top: 3.3rem;
  width: 94%;
  overflow: visible;
  text-align: center;
  font-size: 1.4rem;
  color: rgba(26, 26, 26, 0.8901960784);
  transition-duration: 0.3s;
  pointer-events: none;
  opacity: 1;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_not_found span {
  font-size: 1.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: rgba(113, 172, 190, 0.1098039216);
  color: rgba(26, 26, 26, 0.5411764706);
  margin-top: 0.5rem;
  overflow: visible;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_not_found span::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -1rem;
  width: 8rem;
  height: 1.5px;
  background-color: rgba(29, 24, 26, 0.2745098039);
  border-radius: 25px;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_not_found.select {
  transform: scale(1.1);
  color: red;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content #docs_not_found.no_active {
  transition-duration: 0s;
  opacity: 0;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 25px;
  margin-top: 0.5rem;
  padding: 18px;
  width: 100%;
  min-height: 6rem;
  color: rgba(26, 26, 26, 0.8901960784);
  cursor: pointer;
  white-space: nowrap;
  transition-duration: 0.2s;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.del_toggle {
  width: 75%;
  justify-content: center;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.del_toggle #d_info {
  margin-left: 0;
  width: auto;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.del_toggle #doc_icon {
  transition-duration: 0.1s;
  opacity: 0;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.del_toggle a {
  transition-duration: 0.1s;
  width: 10%;
  opacity: 0;
  pointer-events: none;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.del_toggle button {
  pointer-events: auto;
  opacity: 1;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li:active {
  transition: 0s;
  box-shadow: inset 0 0 15px rgba(20, 20, 20, 0.1764705882);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.deleting {
  transition-duration: 0.3s;
  width: 5rem;
  opacity: 0;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li.opac {
  transition-duration: 0.5s;
  opacity: 0;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li #doc_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.6rem;
  font-size: 1.5rem;
  transition-duration: 0.3s;
  width: 2.2rem;
  height: 2.2rem;
  background-color: rgba(255, 255, 255, 0.5254901961);
  border-radius: 25px;
  pointer-events: none;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li #d_info {
  pointer-events: none;
  margin-left: 2.6rem;
  width: 60%;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li #d_info h2 {
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 0.3rem;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li #d_info .doc_lit_info {
  color: rgba(26, 26, 26, 0.4392156863);
  margin-top: 0.2rem;
  font-size: 1rem;
  width: 100%;
  display: flex;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li #d_info .doc_lit_info p {
  margin-left: 0.3rem;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li #d_info .doc_lit_info span {
  color: rgba(26, 26, 26, 0.4392156863);
  margin-left: 0.1rem;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li a {
  position: absolute;
  z-index: 5;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 5.5rem;
  font-size: 1.4rem;
  border-radius: 25px;
  cursor: pointer;
  color: rgba(29, 24, 26, 0.6431372549);
  background-color: rgba(124, 124, 124, 0.1176470588);
  opacity: 1;
  pointer-events: auto;
  transition-duration: 0.35s;
  transform: scale(1);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li a:active {
  transition: 0s;
  box-shadow: inset 0 0 15px rgba(20, 20, 20, 0.3098039216);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li a i {
  pointer-events: none;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li button {
  position: absolute;
  left: -4.8rem;
  background-color: rgba(255, 103, 103, 0.1764705882);
  width: 4.2rem;
  height: 4.2rem;
  color: #a30101;
  transition-duration: 0.2s;
  pointer-events: none;
  opacity: 0;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li button i {
  pointer-events: none;
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li button:active {
  transition: 0s;
  box-shadow: inset 0 0 15px rgba(20, 20, 20, 0.1176470588);
}
header #menue_content #menue_main_cont #docs_cont #docs_cont_content li:first-child {
  margin-top: 1.7rem;
}
header #menue_content #menue_main_cont #menue_sec_cont {
  margin-top: 0.5rem;
  width: 80%;
}
header #menue_content #menue_main_cont #icons_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
}
header #menue_content #menue_main_cont #icons_bar .download_butt {
  z-index: 4;
  font-size: 3.1rem;
  color: rgba(26, 26, 26, 0.5960784314);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}
header #menue_content #menue_main_cont #icons_bar p {
  color: rgba(24, 25, 29, 0.6352941176);
  margin-top: -0.2rem;
  font-size: 0.8rem;
}
header #menue_content #menue_main_cont #new_doc_but {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.5vh 5%;
  width: 100%;
  min-width: 16rem;
  min-height: 4.2rem;
  color: #18191d;
  background-color: rgba(136, 201, 255, 0.5882352941);
  border-radius: 25px;
  white-space: nowrap;
  font-size: 1.3rem;
  margin-top: 1.5vh;
}
header #menue_content #menue_main_cont #my_tag {
  margin-top: 0.8rem;
  bottom: 0.7rem;
  width: 100%;
  font-size: 0.9rem;
  text-align: center;
  color: rgba(39, 43, 61, 0.5333333333);
}

#main_block {
  padding-top: 1rem;
  transition-duration: 0.3s;
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  display: none;
}
#main_block.toggle {
  display: flex;
}

#bg_cont {
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(145, 182, 194, 0.8470588235);
  margin-bottom: 1vh;
  border-radius: 25px;
}

#stream_cont {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  background: url("../img/not_available.png") center 51%/10vh no-repeat;
}

.camera_zone {
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  opacity: 0;
}
.camera_zone.camera_on {
  transition-duration: 0.3s;
  opacity: 1;
}

video {
  z-index: 1;
  background: url("../img/loading.png") 50% 71%/11vh no-repeat;
}

#scan_icon {
  position: absolute;
  top: 0;
  z-index: 2;
  background: url("../img/scan_icon_big.png") center 52%/cover no-repeat;
}

#camera_butt {
  flex-shrink: 0;
  position: relative;
  z-index: 3;
  background-color: #9aabf7;
  width: 100%;
  transition-duration: 0.1s;
  border-radius: 0;
  border-radius: 25px;
}

#input_block {
  z-index: 0;
  padding-bottom: 5.8rem;
  width: 100%;
  transition-duration: 0.3s;
  display: none;
}
#input_block.toggle {
  display: flex;
}

#input {
  height: 4.4rem;
  font-size: 1.8rem;
  margin: 1vh 0;
  letter-spacing: 4px;
}

#clear_search_cont {
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

#search_butt {
  background-color: #4ff1a0;
  width: 49.5%;
}

#clear_butt {
  position: relative;
  background-color: #e95b6e;
  width: 49.5%;
}

#water_tag {
  display: none;
  position: absolute;
  bottom: 1vh;
  z-index: 2;
  transition-duration: 0.5s;
  width: 100%;
  font-size: 0.7rem;
  text-align: center;
  color: rgba(39, 43, 61, 0.5411764706);
}
#water_tag.turn_on {
  display: inline-block;
}

#info_block {
  flex-shrink: 1;
  justify-content: flex-start;
  color: #1d2325;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: auto;
  display: none;
}

#item_name {
  flex-shrink: 1;
  width: 95%;
  font-size: 1.6rem;
  line-height: 2rem;
  text-align: center;
  padding: 0.9rem 5%;
  margin-top: 2vh;
  margin-bottom: 2.5vh;
  border-radius: 25px;
  background-color: rgba(196, 160, 255, 0.7137254902);
}

@media (max-height: 700px) {
  #item_name {
    overflow: hidden;
    font-size: 1.5rem;
    padding: 0.7rem 5%;
    line-height: 1.6rem;
    overflow: hidden;
    min-height: 5rem;
  }
}
#price_cont {
  flex-shrink: 1;
  min-width: 260px;
  width: 95%;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}

.item_cont {
  flex-direction: row;
  width: 100%;
  min-height: 10vh;
  border-radius: 25px;
  margin-bottom: 1vh;
}

#item_price_cont {
  background-color: rgba(116, 253, 173, 0.2666666667);
}

#item_discount_cont {
  background-color: rgba(250, 248, 151, 0.5568627451);
}

#item_balance_cont {
  background-color: rgba(255, 166, 225, 0.2039215686);
}

.icon_cont {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.6rem;
  border-radius: 50%;
  background-color: white;
}
.icon_cont i {
  font-size: 1.6rem;
}

#icon_price i {
  color: rgba(37, 97, 62, 0.8078431373);
}

#icon_discount i {
  color: rgba(190, 188, 53, 0.9843137255);
}

#icon_balance i {
  color: rgba(143, 47, 111, 0.7058823529);
}

.item_title {
  width: 50%;
  margin-right: 2.2vw;
  font-size: 1.3rem;
  white-space: nowrap;
  text-align: end;
}

.price_val {
  width: 50%;
  margin-left: 2vw;
  align-items: flex-start;
  font-size: 1.7rem;
}

.item_value_r {
  margin-bottom: 0.5vh;
}

.item_value_c {
  color: #575f5b;
  width: 50%;
  margin-left: 0.5vw;
  font-size: 1.4rem;
}

.val {
  display: inline-block;
}

.dop {
  display: inline-block;
  margin-left: -0.25rem;
}