@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited, a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.cont {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

body {
  max-width: 100vw;
  height: 100vh;
  font-family: "Nunito";
  background-color: rgba(114, 156, 170, 0.6784313725);
}

.container {
  height: 100vh;
  width: 100vw;
  max-width: 550px;
  min-width: 300px;
  box-shadow: 0px 0px 10px grey;
  padding: 0 20px;
}

.camera_block {
  flex-shrink: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(114, 148, 158, 0.5333333333);
  border-radius: 30px;
  margin-top: 5vh;
}
.camera_block.onfocus {
  display: none;
}

.stream_cont {
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  background: url("../img/not_available.png") center 51%/10vh no-repeat;
}
.stream_cont.info_on {
  display: none;
}

.camera_zone {
  width: 100%;
  height: 100%;
  transition-duration: 0.4s;
  opacity: 0;
}
.camera_zone.camera_on {
  transition-duration: 0.3s;
  opacity: 1;
}

video {
  z-index: 0;
  background: url("../img/loading.png") 50% 71%/11vh no-repeat;
}

.scan_icon {
  position: absolute;
  top: 0;
  z-index: 2;
  background: url("../img/scan_icon_big.png") center 52%/cover no-repeat;
}

button {
  height: 5rem;
  width: 50%;
  font-size: 1.7rem;
  text-transform: lowercase;
  color: #18191d;
  border-radius: 30px;
}

.camera {
  flex-shrink: 0;
  position: relative;
  z-index: 4;
  background-color: #9aabf7;
  width: 100%;
  transition-duration: 0.1s;
  border-radius: 0;
}

.input_block {
  z-index: 3;
  margin-bottom: 10vh;
  width: 100%;
}
.input_block.onfocus {
  position: absolute;
  width: 90%;
  bottom: 0;
  margin-bottom: 13vh;
}
.input_block.info_on {
  margin-bottom: 3vh;
}

input {
  overflow: hidden;
  position: relative;
  z-index: 2;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 5rem;
  font-size: 2.3rem;
  color: #2e2f36;
  background-color: white;
  letter-spacing: 4px;
  border-radius: 30px;
  margin: 1vh 0;
}

.clear_search_cont {
  flex-direction: row;
  width: 100%;
}

.search {
  background-color: #4ff1a0;
  width: 50%;
}
.search:active {
  background-color: #44c987;
}

.clear {
  background-color: #e95b6e;
  width: 50%;
}
.clear:active {
  background-color: rgba(177, 47, 65, 0.8274509804);
}

.water_tag {
  position: absolute;
  bottom: 3vh;
  z-index: 0;
  width: 100%;
  font-size: 2vh;
  text-align: center;
  color: rgba(47, 51, 68, 0.4588235294);
}
.water_tag.hide {
  display: none;
}

.info_block {
  flex-shrink: 1;
  justify-content: flex-start;
  color: #1d2325;
  width: 100%;
  height: 100%;
  background-color: #effff5;
  display: none;
}
.info_block.info_on {
  display: flex;
}

.item_name {
  flex-shrink: 1;
  width: 100%;
  font-size: 4.2vh;
  line-height: 5vh;
  text-align: center;
  padding: 0 3vw;
  padding-top: 2.5vh;
  padding-bottom: 1vh;
  margin-bottom: 1.5vh;
  background-color: #c4a0ff;
}

.item_cont {
  width: 250px;
  text-align: center;
  margin-top: 1vh;
}

.item_title {
  background-color: #4ecc87;
  width: 100%;
  font-size: 2rem;
  height: 7vh;
  line-height: 7vh;
  padding: 0 3vw;
  border-radius: 30px;
}

.item_value {
  width: 100%;
  font-size: 3.5rem;
  height: 12vh;
  line-height: 12vh;
}