@import "./_stylereset"
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap")

.cont
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    flex-shrink: 0

body
    max-width: 100vw
    height: 100vh
    font-family: "Nunito"
    background-color: #729caaad

.container
    height: 100vh
    width: 100vw
    max-width: 550px
    min-width: 300px
    box-shadow: 0px 0px 10px grey
    padding: 0 10px

.camera_block
    flex-shrink: 1
    height: 100%
    width: 100%
    margin-top: 4vh
    &.onfocus
        display: none
    // border: 2px solid black

.bg_cont
    flex-shrink: 1
    height: 100%
    width: 100%
    background-color: #72949e88
    margin-bottom: 1vh
    border-radius: 25px

.stream_cont
    flex-shrink: 1
    width: 100%
    height: 100%
    background: url("../img/not_available.png") center 51% / 10vh no-repeat
    &.info_on
        display: none
    // border: 2px solid green

.camera_zone
    width: 100%
    height: 100%
    transition-duration: 0.4s
    opacity: 0
    &.camera_on
        transition-duration: 0.3s
        opacity: 1
    // border: 2px solid orange

video
    z-index: 0
    background: url("../img/loading.png") 50% 71% / 11vh no-repeat

.scan_icon
    position: absolute
    top: 0
    z-index: 2
    background: url("../img/scan_icon_big.png") center 52% / cover no-repeat

button
    height: 5rem
    width: 50%
    font-size: 1.7rem
    text-transform: lowercase
    color: #18191d
    border-radius: 25px

.camera
    flex-shrink: 0
    position: relative
    z-index: 4
    background-color: #9aabf7
    width: 100%
    transition-duration: 0.1s
    border-radius: 0
    border-radius: 25px
    // border: 2px solid red



.input_block
    z-index: 3
    margin-bottom: 6vh
    width: 100%
    &.onfocus
        position: absolute
        width: 95%
        bottom: 0
        margin-bottom: 7vh
    &.info_on
        margin-bottom: 5vh
    // border: 2px solid orange

input
    overflow: hidden
    position: relative
    z-index: 2
    border: none
    outline: none
    background: none
    text-decoration: none
    text-align: center
    width: 100%
    height: 5rem
    font-size: 2.2rem
    color: #2e2f36
    background-color: white
    letter-spacing: 4px
    border-radius: 25px
    margin: 1vh 0

.clear_search_cont
    flex-direction: row
    width: 100%
    justify-content: space-between
    // border: 2px solid red

.search
    background-color: #4ff1a0
    width: 49.5%
    &:active
        background-color: #44c987

.clear
    background-color: #e95b6e
    width: 49.5%
    &:active
        background-color: #b12f41d3


.water_tag
    position: absolute
    bottom: 2vh
    z-index: 0
    width: 100%
    font-size: 1rem
    text-align: center
    color: #272b3d75
    &.hide
        display: none
    // border: 2px solid white


.info_block
    flex-shrink: 1
    justify-content: flex-start
    color: #1d2325
    width: 100%
    height: 100%
    background-color: #ffffff
    display: none
    &.info_on
        display: flex
    // border: 2px solid green

.item_name
    flex-shrink: 1
    width: 95%
    font-size: 4.2vh
    line-height: 5vh
    text-align: center
    padding: 1vh 3vw
    margin-top: 1.3vh
    margin-bottom: 2.5vh
    border-radius: 25px
    background-color: #c4a0ffdc
    // border: 2px solid red

.price_cont
    flex-shrink: 1
    min-width: 70%
    height: 100%
    align-items: center
    justify-content: flex-start
    // border: 2px solid yellow

.item_cont
    flex-shrink: 0
    flex-direction: row
    min-height: 11vh
    width: 100%
    border-radius: 25px
    margin-bottom: 2.5vh
    text-align: center
    // border: 2px solid black

.item_price_cont
    background-color: #74fdadcb

.item_discount_cont
    background-color: #faf897

.item_title
    width: 50%
    padding-right: 5vw
    font-size: 3.5vh
    text-align: end
    // border: 2px solid blue

.price_val
    align-items: flex-start
    // border: 3px solid pink

.item_value_r
    width: 50%
    margin-left: 1vw
    margin-bottom: 0.5vh
    font-size: 4.5vh
    // border: 2px solid red

.item_value_c
    color: #575f5b
    width: 50%
    margin-left: 1.5vw
    font-size: 3.2vh
    // border: 2px solid green